html {
    position: relative;
    min-height: 100%;
}

.footer {
    width: 100%;
    background-color: #f5f5f5;
    padding: 2rem 0;
    margin-top: 2rem;
}

.footer a {
    text-decoration: none;
    color: #6c757d;
}

.footer a:hover {
    text-decoration: underline;
}

.container {
    width: auto;
    max-width: 1100px;
    padding: 0 15px;
}

.select {
    margin: 1rem 0;
}

#logo {
    float: right;
    margin-left: 2rem;
}

#calendar {
    margin-bottom: 2rem;
}

@media (max-width: 768px){
    .fc-toolbar {
        display: inline-block !important;
        text-align: center;
    }

    .fc-toolbar-title {
        margin: 1rem 0 !important;
    }

    .fc-view-harness  {
        height: 500px !important;
    }

    #select-group {
        text-align: center;
    }
}

.legende {
    margin-bottom: 20px;
}

.legende span {
    border-left-style: solid;
    border-left-width: 20px;
    padding-left: 5px;
    padding-right: 10px;
}

.distance {
    border-left-color: #e04e7d;
}
.local {
    border-left-color: #4e7de0;
}
.deplacement {
    border-left-color: #cc0000;
}
.remediation {
    border-left-color: #806c00;
}

.inline {
    display: inline;
}

ul.inline {
    display: inline-flex;
    flex-wrap: wrap;
    padding-left: 0px;
    list-style: none;
}

ul.inline > li {
    display: inline;
    padding: 0px 2px;
}
